@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); 


nav{
    color: aqua;
}

.nav-center h4{
    color: rgb(192, 55, 55);
}

.nav-center h3{
    color: rgb(85, 158, 253);
}

main {
    color: coral;
}

.container h2{
    color:darkgreen
}

.color{
    color: darkslateblue;
}

.btn-hero{
font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}